# This is a Git Ignore Allow List.
# Ignore everything from the start.
/**/*

## Only allow the following.
!.gitignore
!README.md
!CHANGES.md
!LICENSE
!slipbot.png
!skills/
!skills/**
!examples/
!examples/**
!docs/
!docs/**
